body {
    padding-top: 5rem;
}

.items-grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 50px;
    margin: 4em;

}

#cart-items .item-detail{
    margin: 5%;
}
#cart-items{
    margin: 0 15px 0 15px;
}

#rent_days{
    width: 100px;
}